/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Layout */
section {
  margin: auto;
  max-width: 760px;
}

.container {
  padding: 20px 0 150px 0;
}

/* Text */
section * {
  font-family: "Roboto", sans-serif;;
}

.sub-title {
  padding: 15px;
  font-size: 20px;
  color: #262626;
}

.headline {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.box {
  font-size: 20px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 400;
  justify-content: space-between;
}


.link {
  display: flex;
  gap: 26px;
  font-size: 12px;
  justify-content: flex-end;
  padding: 15px;
  color: #2962ff;
}

.home {
  font-size: 12px;
  color: #595959;
}

.contact {
  display: flex;
  align-items: center;
  gap: 32px;
}

.details {
  height: 72px;
  padding-top: 16px;
}

.contact_details {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.secondary {
  font-size: 12px;
  color: #bfbfbf;
  font-weight: 400;
  margin: 4px;
}

.p16 {
  font-size: 16px;
}

.flex {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.attribute {
  width: 56px;
  font-size: 12px;
  color: #595959;
}

.attribute_value {
  font-size: 12px;
  color: #262626;
}

.attribute_box {
  height: 20px;
  margin: 16px 70px;
}

.contact_row:hover {
  background-color: #f5f5f5;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}