<section class="contact_details">
  <div class="box">
    <span>Contact Detail</span>
    <a href="" class="link">Logout</a>
  </div>
  <div class="headline"></div>
  <img src="/img/Profile.svg" class="details" />
  <div class="box center flex-column">
    <span class="p16">Brian Vaughn</span>
    <span class="secondary">Friends</span>
  </div>

  <div class="box">
    <div class="flex gap-10">
      <span>Number:</span>
      <p>987654321</p>
    </div>
  </div>
  <div class="box">
    <div class="flex gap-10">
      <span>Email:</span>
      <p>brian@react.com</p>
    </div>
  </div>

  <div class="headline"></div>
  <ul class="link">
    <li><a href="">Back</a></li>
    <li><a href="">Delete</a></li>
    <li><a href="">Edit</a></li>
  </ul>
</section>