<section>
  <div class="box">
    <span>Edit contact</span>
    <a href="" class="link">Logout</a>
  </div>
  <div class="headline"></div>
  <div class="box">
    <div class="input">
      <div class="inner_input">
        <input type="text" id="name" name="name" required placeholder="Name" />
      </div>
      <div class="headline"></div>
    </div>
  </div>
  <div class="box">
    <div class="input">
      <div class="inner_input">
        <input
          type="text"
          id="number"
          name="number"
          required
          placeholder="Number"
        />
      </div>
      <div class="headline"></div>
    </div>
  </div>
  <div class="box">
    <div class="input">
      <div class="inner_input">
        <input
          type="text"
          id="email"
          name="email"
          required
          placeholder="Email"
        />
      </div>
      <div class="headline"></div>
    </div>
  </div>
  <div class="box">
    <div class="input">
      <div class="inner_input">
        <select
          type="text"
          id="relation"
          name="relation"
          required
          placeholder="Relation"
        >
          <option>Family</option>
          <option>Friends</option>
          <option>Work</option>
          <option>Acquaintance</option>
        </select>
      </div>
      <div class="headline"></div>
    </div>
  </div>
  <div class="headline"></div>
  <ul class="link">
    <li><a href="">Cancel</a></li>
    <li><a href="">Save</a></li>
  </ul>
</section>
