<section>
  <div class="box">Signup</div>
  <div class="headline"></div>
  <div class="box">
    <div class="input">
      <div class="inner_input">
        <label for="email">email</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div class="headline"></div>
    </div>
  </div>
  <div class="box">
    <div class="input">
      <div class="inner_input">
        <label for="email">password</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div class="headline"></div>
    </div>
  </div>
  <div class="headline"></div>
  <ul class="link">
    <li><a href="">Login</a></li>
    <li><a href="">Create Account</a></li>
  </ul>
</section>
