/* Contact box */

.contact-box {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-box .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.profile span {
  font-size: 16px;
}

/* Add contact button */

.add-contact {
  width: 56px;
  height: 56px;
  display: block;
  border-radius: 100px;
  background-color: #e8eaed;
  background-image: url("../../img/Union.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.add-contact:hover {
  transform: scale(1.1);
}

/* Star */

.star {
  width: 22px;
  height: 21px;
  display: block;
  cursor: pointer;
}
.star img {
  position: relative;
}

.star:hover img {
  transform: scale(1.1);
}
/* 
.favorite1 {
  width: 19.85px;
  height: 18.96px;
  position: absolute;
} */